.button {
    background: none;
    border: 1px solid black;
    padding: 0px 20px;
    height: 100%;
    max-height: 35px;
    min-height: 25px;
    border-radius: 5px;
    transition: 0.2s;

    &:hover {
        background: rgba(0, 0, 0, 0.1);
    }

    &:active {
        background: rgba(0, 0, 0, 0.681);
        color: white;
    }
}

