html,
body {
    width: 100vw;
    height: 100vh;
}

* {
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#app {
    display: flex;
    flex-direction: column;

    #top_block {
        flex: 1;
    }

    #middle_block {
        flex: 15;
    }

    #bottom_block {
        flex: 1;
    }

    .block {
        padding: 10px;
    }

    border-radius: 10px;
    border: 1px solid black;

    width: 40%;
    height: 80%;

    min-width: 400px;

    max-width: 568px;
    max-height: 1000px;
}

@media (max-width: 767px), (max-height: 429px) {
    #app {
        border: none;

        max-width: none;
        max-height: none;

        width: 100vw;
        height: 100vh;
    }
}
